ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic
ANTHROPIC_AUTH_TOKEN=sk-xxx
ANTHROPIC_MODEL=deepseek-v4-pro[1m]


# SubAgent LLM配置（用于实际代码执行，可选，默认使用主Agent配置）
SUBAGENT_BASE_URL=https://coding.dashscope.aliyuncs.com/apps/anthropic
SUBAGENT_AUTH_TOKEN=sk-sp-xxx
SUBAGENT_MODEL=deepseek-v4-flash

CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
CLAUDE_CODE_GIT_BASH_PATH=D:\Program Files\Git\bin\bash.exe
ZHIPU_API_KEY=xxx
